<div class="post-copyright br-5 mb-30">
    <div class="ava">
        <div class="copyright-text mb-5">
            <i data-feather="feather"></i> 版权属于：<%= config.author %>
        </div>
    </div>
    <div class="link">
        <div class="copyright-text mb-5">
            <i data-feather="link"></i> 本文链接：<%= config.url %><%- url_for(page.path) %>
        </div>
    </div>
    <div class="by">
        <div class="copyright-text mb-5">
            <i data-feather="git-branch"></i> 文章采用：<a class="text-decoration-none" target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.zh">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议
            </a>
        </div>
    </div>
</div>