<article class="page-main p-30 shadow-1 br-10 mt-20">
<input id="searchInput" name="s" placeholder="要搜点什么吗?" class="search-input">
<div id="searchResult"></div>
</article>
<script src="/js/search.js"></script>
<style>
#searchInput {
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;    font: 18px/24px web,sans-serif;
    border-radius: 15px;    box-shadow:0 0 5px 0 #f5f7fc;
    padding: 10px;
}
@media (max-width: 768px){
footer.footer {
    display: none;
}}
</style>