.sidebar {
    float: right;
    width: calc(28%);
    position: sticky;
    top: 34px;
}
.widget.abautor{padding:14px}
.box-img{position:relative;overflow:hidden;width:100%;border-radius:5px;background-position:50% 50%;background-size:cover}
.box-img:before{float:left;padding-top:45%;content:""}
.widget-about-image{display:block;margin:0 auto;width:70px;height:70px}
.widget-list.meb_autor_top{position:relative;margin-top:-45px;padding:0 5px;align-items:flex-end}
.widget-about-intro{margin:10px 0;text-align:center}
.user__list li{width:100%;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-box-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.user__list,.user__list li{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}
.user__list{padding:10px 10px 0!important;border-top:1px solid #f4f5f9;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-box-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.widget{background-color:#fff}
.widget{position:relative}
ul.category-list{margin:0;padding:0}
li.category-list-item{position:relative;padding:0 5px;margin-bottom:5px}
a.category-list-link{position:relative;height:80px;color:#404040;line-height:35px}
span.category-list-count{float:right;line-height:30px;padding:0 13px;border-radius:20%;background-color:#fff}
.box-avatar{position:relative;display:flex;margin-top:-10px;padding:0 5px;align-items:flex-end}
.box-avatar-left{flex:0 1 auto}
.author-infos{position:relative;float:left;cursor:pointer}
.box-avatar-left img{margin-right:10px;border:3px solid #fff}
.rounded-circle{border-radius:50%!important}
.author-info-card{position:absolute;top:50%;z-index:11;visibility:hidden;padding:10px;width:320px;max-height:-webkit-max-content;max-height:-moz-max-content;max-height:max-content;border-radius:6px;background:#fff;box-shadow:2px -2px 15px rgb(0 0 0/15%);opacity:0}
.author-info-card:before{position:absolute;top:-4px;left:8px;width:8px;height:8px;background:#fff;content:"";transform:rotate(45deg)}
.box-avatar-right{overflow:hidden;max-width:70%;color:var(--acolor);text-overflow:ellipsis;white-space:nowrap;font-size:1.2rem;flex:1 1 auto}
.box-avatar-right span{font-size:13px}
.box-top img{vertical-align:middle}
.widget-box-intro{margin:10px 0;padding:0 10px 20px;font-size:13px}