.archives_list li{margin:0;padding:15px 0 10px 20px}
.archives-item h2,.archives_list li{position:relative;display:inline-block;width:100%;font-weight:400}
.archives_list li:before{position:absolute;top:17.5px;left:-5px;width:17px;height:17px;border:5px solid #fff5f3;border-radius:50%;background:#ffd2c7;content:""}
