.go-top{opacity: 0;-webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;position:fixed;bottom:30px;right:30px;z-index:1000;display:inline-block;text-align:center;background:#fff;padding:10px 13px;border-radius:20%;background-color:#fff;margin-top:20px}
footer.footer{box-shadow: 0 0 20px 0 #f2f6fd;display:inline-block;padding:33px 0 27px;width:100%;background:#fff}
.copyright{float:left;margin-left:15px}
.copyright a{color:#13202b}
.description{float:right;margin-right:15px}
.footer_nav{position:fixed;bottom:0;left:0;z-index:101;display:inline-block;width:100%;background:#fff}
.footer_nav_inner{padding:0 20px}
.footer_nav ul{text-align:center}
.footer_nav ul li{display:inline-block;margin:0 4%;padding:8px 0;width:50px;text-align:center}
.footer_nav ul li a{display:inline-block;width:100%}
.footer_nav ul li img{width:22px}
.footer_nav ul li span{display:block;color:#404040;font-size:12px;line-height:1}
.go-top.show {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}