.header{width:100%;height: 77px;background:#fff;position:-webkit-sticky;position:sticky;z-index:99;left:0;top:0;z-index:521;box-shadow:0 0 20px 0 #f2f6fd;}
.logo-box{margin-top:15px;float:left}
.logo-a{font-size:20px;font-weight:500;color:#131313;display:inline-flex;margin-top: 13px;display:-webkit-flex;align-items:center;}
.logo-a img{width:auto;height: 38px;object-fit:cover;margin-top:-10px;}
nav.nav{max-width:780px;float:left;margin-left:20px;height:36px;line-height:36px;margin-top:22px;}
nav.nav ul{width:100%;height:36px;display:inline-block}
nav.nav ul li{font-size:16px;width:auto;text-align:center;float:left;margin:0 14px}
nav.nav ul li a{color:#333;width:100%;height:36px;overflow:hidden;display:block;font-weight:500}
.icolog{box-shadow: 0 0 5px 0 #f5f7fc;float:right;padding:6px 10px;border-radius:20%;background-color:#fff;margin-top:20px}
ul#pecd{position:absolute;top:0;right:10px;z-index:50;width:7rem;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#fff;margin-top:4rem;border-radius:15px;animation:fade-in;animation-duration:.321s;-webkit-animation:fade-in .321s}
li.menu-item{text-align:center;white-space:nowrap;padding:20px}