article.item-main {
    display: grid;
}.mao-cover img {width: 100%;
    height: 180px;
}
.mao-cover {position: relative;
    height: 100%;
    max-height: 180px;
}h2.item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 22px;
    font-size: 16px;
}

h2.item-title a {
    color: inherit;
    text-decoration: none;
    vertical-align: top;
}
.item-excerpt {
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.item-meta span {
    padding: 3px 5px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 5px;
}
.item-meta {
    padding: 5px 0;
}
.item-meta span .feather {
    height: 14px;
}.mao-footer {
    margin: 10px 0px 0px 0px;
    padding: 9px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}.mao-list-avatar img {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 100%;
    margin-top: 0px;
    position: relative;
}.mao-list-avatar {
    display: flex;
    align-items: center;
    line-height: 1;
}.mao-list-avatar span {
    margin-right: 3px;
}
.mao-cover img:hover {
	opacity: 0.7;
}
.item-meta {
    display: flex;
    overflow: auto;
}
.item-meta::-webkit-scrollbar {
    display: none;
}
.item-meta span {
    flex-shrink: 0;
}


nav.page_number{padding:45px 40px;text-align:center}
span.page-number.current{padding:5px 14px;border-radius:20%;background-color:#fff;margin-right:5px}
a.page-number{padding:5px 14px;border-radius:20%;background-color:#fff;margin-right:5px}
a.page-number{color:#807e7e}
a.extend.next{padding:5px 14px;border-radius:5px;background-color:#fff;margin-right:5px;color:#333}
a.extend.prev{padding:5px 14px;border-radius:5px;background-color:#fff;margin-right:5px;color:#333}