.items .item{position:relative;float:left;margin:0 .6% 30px;padding:20px 0 0;width:32%;border-radius:3px}
.link-avatar{position:absolute;top:19px;left:26px;display:inline-block}
.info{margin-left:104px}
.link-avatar img{position:relative;width:50px;height:50px;border-radius: 15px;}
.items .item .description{float:none;overflow:hidden;margin-top:15px;padding:10px 20px;min-height:40px;background:#fdfdff;color:#a7a7cb;text-overflow:ellipsis;white-space:nowrap;font-size:12px;-o-text-overflow:ellipsis;margin-right: 0;}
.items .item h3{margin:0}



@media (max-width: 992px){
.items .item {
    width: 48%;
}
}
@media (max-width: 768px){
    .items .item {
        width: 100%;
}
}
    