.swiper-container {
    width: 100%;
    height: 350px;
}.swiper-pagination-bullet-active {
    background: #000!important;
}.swiper-slide {
    background-position: center center;
}

.swiper-containera {
    width: 100%;
    height: 350px;
}