.tip {
    padding: 1px 16px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
}
.tip .feather {
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 24.5px;
    left: -13px;
    top: -10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 5px;
}
.tip p {
    margin: 10px auto;
}