.xcd {
    position: fixed;
    left: 45px;
    top: 130px;
}.tw-comments {
    text-align: center;
    background: #fff;
    padding: 10px 13px;
    border-radius: 20%;
    background-color: #fff;
    margin-top: 15px;
}.xcd-feather {
    text-align: center;
    background: #fff;
    padding: 10px 13px;
            transform: rotateY(180deg); /* css3 */
        -moz-transform:skew(0deg, 180deg) scale(-1, 1); /* for ff */
        -webkit-transform: rotateY(180deg); /* for chrome and safari */
        -o-transform:skew(0deg, 180deg) scale(-1, 1); /* for opera */
}