<div class="single_video_box">
<iframe src="//player.bilibili.com/player.html?bvid=<%- page.bv %>&amp;page=1"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
class="single_video" >
</iframe>
</div>