<top id="top"></top>
<section class="header">
    <section class="container">
        <section class="logo-box">
            <a class="logo-a" href="/" rel="home" alt="<%= config.title %>" title="<%= config.title %>">
                <img alt="<%= config.title %>" src="https://p.pstatp.com/origin/fe2200027171a6046ab0"  width="150" height="40">
            </a>
        </section>
        <%- partial('_partial/_header/header_nav') %>
    </section>
</section>